In [39]:
import pandas as pd
data=pd.read_csv("sample.del",header=None)
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
0,2017030116288844,6211630115240936733,63010000,301777967610001,6761,,1080209,6230582000070420446,,种振宇,...,NaN,立码付,NaN,000000000700000000000047001000,NaN,19623058 19623058 2210112000,100,11,100,NaN

In [40]:
import pandas as pd
col_info=pd.read_csv("col_info.csv",header=None)
col_info.head(2)
#col_info[0].as_matrix().shape

           0       1                            2
0  TRANS_IDX   交易流水号  2017020116524095
1      QR_NO  二维码流水号         6212030520001084801

In [41]:
col_name=col_info[0].as_matrix()
col_name_list=col_name.tolist()
col_name_list.append('Last_col')
data.columns=col_name_list
data.head(1)

,TRANS_IDX,QR_NO,ACQ_INS_ID_CD,MCHNT_CD,MCHNT_TP,SUB_MCHNT_CD,TERM_ID,PRI_ACCT_NO,TOKEN_ID,NAME,...,MCHNT_NM,SUB_MCHNT_NM,CUPS_DEF_FLD,BUS_INFO,CARD_INF,APP_INS_INF,RCV_INS_INF,ACQ_INS_INF,INNOV_APP_EXT_INF,Last_col
0,2017030116288844,6211630115240936733,63010000,301777967610001,6761,,1080209,6230582000070420446,,种振宇,...,NaN,立码付,NaN,000000000700000000000047001000,NaN,19623058 19623058 2210112000,100,11,100,NaN

In [42]:
#drop un_used col 
data.drop('TRANS_IDX',axis=1,inplace=True)

data.drop('QR_NO',axis=1,inplace=True)
data.drop('ACQ_INS_ID_CD',axis=1,inplace=True)
data.drop('MCHNT_CD',axis=1,inplace=True)
data.drop('SUB_MCHNT_CD',axis=1,inplace=True)
data.drop('TERM_ID',axis=1,inplace=True)
data.drop('PRI_ACCT_NO',axis=1,inplace=True)
data.drop('TOKEN_ID',axis=1,inplace=True)
data.drop('NAME',axis=1,inplace=True)
data.drop('ISS_HEAD',axis=1,inplace=True)
data.drop('ISS_INS_ID_CD',axis=1,inplace=True)
data.drop('APP_INS_ID_CD',axis=1,inplace=True)
data.drop('TRANS_DT',axis=1,inplace=True)
data.drop('TRANS_TM',axis=1,inplace=True)
data.drop('SYS_TRA_NO',axis=1,inplace=True)
data.drop('FWD_INS_ID_CD',axis=1,inplace=True)
data.drop('SETTLE_DT',axis=1,inplace=True)
data.drop('RESP_CD',axis=1,inplace=True)
data.drop('RESP_MSG',axis=1,inplace=True)
data.drop('UP_DISCOUNT',axis=1,inplace=True)
data.drop('APP_DISCOUNT',axis=1,inplace=True)
data.drop('CTRL_RULE1',axis=1,inplace=True)
data.drop('MER_VERSION',axis=1,inplace=True)
data.drop('APP_VERSION',axis=1,inplace=True)
data.drop('PAY_CTRL',axis=1,inplace=True)
data.drop('PROC_CD',axis=1,inplace=True)
data.drop('POS_COND_CD',axis=1,inplace=True)
data.drop('POS_ENTRY_MD_CD',axis=1,inplace=True)
data.drop('APP_NTF_ST',axis=1,inplace=True)
data.drop('ACQ_NTF_ST',axis=1,inplace=True)
data.drop('RCV_INS_ID_CD',axis=1,inplace=True)
data.drop('REC_CRT_TS',axis=1,inplace=True)
data.drop('REC_UPD_TS',axis=1,inplace=True)
data.drop('AUTH_ID',axis=1,inplace=True)
data.drop('CONV_DT',axis=1,inplace=True)
data.drop('CONV_RT',axis=1,inplace=True)
data.drop('PROC_SYS',axis=1,inplace=True)
data.drop('ORG_TRANS_IDX',axis=1,inplace=True)
data.drop('ORG_TRANS_TM',axis=1,inplace=True)
data.drop('ORG_SYS_TRA_NO',axis=1,inplace=True)
data.drop('ORG_SYS_TM',axis=1,inplace=True)
data.drop('ORG_MCHNT_ORDER_ID',axis=1,inplace=True)
data.drop('MCHNT_ORDER_ID',axis=1,inplace=True)
data.drop('ISS_INS_RESV',axis=1,inplace=True)
data.drop('ACQ_INS_RESV',axis=1,inplace=True)
data.drop('LOG_ID',axis=1,inplace=True)
data.drop('MCHNT_BACK_URL',axis=1,inplace=True)
data.drop('APP_BACK_URL',axis=1,inplace=True)
data.drop('ISS_INS_NM',axis=1,inplace=True)
data.drop('APP_REQ_RESERVED',axis=1,inplace=True)
data.drop('MER_REQ_RESERVED',axis=1,inplace=True)
data.drop('MER_CERT_ID',axis=1,inplace=True)
data.drop('APP_CERT_ID',axis=1,inplace=True)
data.drop('ORDER_COMMENTS',axis=1,inplace=True)
data.drop('COUPON_INFO',axis=1,inplace=True)
data.drop('INVOICE_INFO',axis=1,inplace=True)
data.drop('MCHNT_NM',axis=1,inplace=True)
data.drop('SUB_MCHNT_NM',axis=1,inplace=True)
data.drop('CUPS_DEF_FLD',axis=1,inplace=True)
data.drop('BUS_INFO',axis=1,inplace=True)
data.drop('CARD_INF',axis=1,inplace=True)
data.drop('APP_INS_INF',axis=1,inplace=True)
data.drop('RCV_INS_INF',axis=1,inplace=True)
data.drop('ACQ_INS_INF',axis=1,inplace=True)
data.drop('INNOV_APP_EXT_INF',axis=1,inplace=True)

data.head(1)

,MCHNT_TP,CARD_ATTR,CERTIF_ID,CERTIF_TP,ACCT_CLASS,SYS_TM,TRANS_AT,TRANS_CURR_CD,SETTLE_MD,SETTLE_AT,SETTLE_CURR_CD,TRANS_TP,PROC_ST,INS_PAY_MODE,ORDER_TYPE,MSG_TP,Last_col
0,6761,1,000000000000180074,01,,301000758,30000,156,0,30000,156,45,0,1,11,200,NaN

In [44]:
data.drop('Last_col',axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 16 columns):
MCHNT_TP          1000 non-null int64
CARD_ATTR         1000 non-null int64
CERTIF_ID         1000 non-null object
CERTIF_TP         1000 non-null object
ACCT_CLASS        1000 non-null object
SYS_TM            1000 non-null int64
TRANS_AT          1000 non-null float64
TRANS_CURR_CD     1000 non-null int64
SETTLE_MD         1000 non-null int64
SETTLE_AT         1000 non-null float64
SETTLE_CURR_CD    1000 non-null object
TRANS_TP          1000 non-null int64
PROC_ST           1000 non-null int64
INS_PAY_MODE      1000 non-null int64
ORDER_TYPE        1000 non-null int64
MSG_TP            1000 non-null int64
dtypes: float64(2), int64(10), object(4)
memory usage: 132.8+ KB